* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  body {
    
    background: rgb(95, 95, 95);
    color: #1c1e21;
    line-height: 1.34;
    margin: 0;
    padding: 0;
    unicode-bidi: embed;

  }

  .container {
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
  }
  
  img {
    /* Gioi han kich thuoc trong vung chua */
    max-width: 100%;
    /* Loai bo phan chan dong (khoang trang nho o duoi hinh anh) */
    vertical-align: middle;
    height: auto;
  }
  .row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  
    /* Loai bo khoang trong 2 cot ngoai cung */
    margin-left: -5px;
    margin-right: -5px;
  
    /* Dat khoang trong giua cac hang */
    row-gap: 10px;
  }
  
  .row > * {
    /* Dat khoang trong giua cac cot */
    padding-left: 5px;
    padding-right: 5px;
  }
  
  .col-1 {
    flex: 0 1 8.333333%;
  }
  
  .col-2 {
    flex: 0 1 16.666667%;
  }
  
  .col-3 {
    flex: 0 1 25%;
  }
  
  .col-4 {
    flex: 0 1 33.333333%;
  }
  
  .col-5 {
    flex: 0 1 41.666667%;
  }
  
  .col-6 {
    flex: 0 1 50%;
  }
  
  .col-7 {
    flex: 0 1 58.333333%;
  }
  
  .col-8 {
    flex: 0 1 66.666667%;
  }
  
  .col-9 {
    flex: 0 1 75%;
  }
  
  .col-10 {
    flex: 0 1 83.333333%;
  }
  
  .col-11 {
    flex: 0 1 91.666667%;
  }
  
  .col-12 {
    flex: 0 1 100%;
  }
  .register.row {
    background-color: white;
    overflow: visible;
    padding: 0;
    width: 600px;
    height: 600px;
    margin-top: 50px;
    border-radius: 10px;
    align-content: space-around;
  }

  .title {
    color: #1c1e21;
    font-family: SFProDisplay-Bold, Helvetica, Arial, sans-serif;
    font-size: 32px;
    line-height: 38px;
    margin-bottom: 0;
    font-weight: 600;
  }
  .sub-title {
    color: #606770;
    font-family: SFProText-Regular, Helvetica, Arial, sans-serif;
    font-size: 15px;
    line-height: 24px;
    font-weight: normal;
  }
  .surname {
    width: 100%;
    height: 40px;
    padding: 0 10px;
  }
  input {
    width: 100%;
    font-family: SFProDisplay-Regular, Helvetica, Arial, sans-serif;
    font-size: 15px;
    line-height: 16px;
    padding: 12px;
    border-radius: 5px;
    border: 1px solid #dddfe2;
  }
  .name.row {
    width: 600px;
    position: relative;
    background-color: #fff;
    padding: 16px;
  }
  .header {
    padding-left: 17px;
  }
  .email.row {
    width: 600px;
    position: relative;
    background-color: #fff;
    padding: 0px 16px;
  }
  .password.row {
    width: 600px;
    position: relative;
    background-color: #fff;
    padding: 16px 16px;
  }
  .icon {
    width: 20px;
    height: 20px;
    position: absolute;
    top: 0px;
    left: 105px;
  }
  .birthday.row {
    width: 600px;
    position: relative;
    background-color: #fff;
    padding: 0px 16px;

  }
  select {
    width: 179px;
    height: 40px;
    font-family: SFProDisplay-Regular, Helvetica, Arial, sans-serif;
    font-size: 15px;
    line-height: 16px;
    padding: 5px 10px;
    border-radius: 5px;
    border: 1px solid #dadde1;
    
  }
  option {
    text-align: left;
  }
  .bithday-container {
    display: flex;
    justify-content: space-between;
  }

  .gender-container {
    margin-top: 15px;
    margin-left: 5px;
    margin-right: -5px;
  }
  .sex.row {
    display: flex;
    width: 100%;
    position: relative;
    height: 40px;
    justify-content: space-between;
    

}
.male {
    width: 25%;
    height: 40px;
    border: 1px solid #dadde1;
    border-radius: 5px;
    position: relative;
    
}
.female {
    width: 25%;
    height: 40px;
    border: 1px solid #dadde1;
    border-radius: 5px;
    
}
.custom {
    width: 38%;
    height: 40px;
    border: 1px solid #dadde1;
    border-radius: 5px;
    
}
.sub-gender {
  position: relative;
  margin-left: -5px;
}
.icon2 {
  width: 20px;
  height: 20px;
  position: absolute;
  top: 0px;
  left: 50px;
}
.footer.row {
  margin-top: 15px;
  margin-left: 10px;
}

.btn-submit {
  text-align: center;
  padding-top: 20px;
}
button {
    width: 200px;
    height: 40px;
 
    font-size: 18px;
    font-weight: 600;
    height: 36px;
    overflow: hidden;
    padding: 0 32px;
    text-shadow: none;
    background: none;
    background-color: #00a400;
    border: none;
    border-radius: 6px;
    box-shadow: none;
    color: #fff;
    min-width: 194px; 
}

.select1 {
  position: absolute;
  top: 13px;
  right: -50px;
}

.sub-selec1 {
  position: absolute;
  top: 9px;
  left: 10px;
}
.select2 {
  position: absolute;
  top: 13px;
  left: 10px;
}
.sub-select2 {
  position: absolute;
  top: 9px;
  left: 184px;
}
.select3 {
  position: absolute;
  top: 13px;
  right: -255px;
}
.sub-select3 {
  position: absolute;
  left: 360px;
  top: 9px;
}